/* 디테일 페이지 */
#detail_container {
    margin-top: 40px;
    margin-left: 60px;
 }
  
  
 /* 게시판 제목 */
 #detail_title {
    font-size: 20px;
    font-weight: 700;
 }
  
  
 /* 게시판 due */
 #detail_due {
    font-size: 18px;
 }


 /* 게시판 포토스팟 */
 #detail_photospot {
    font-size: 18px;
 }
  
  
  
 /* 게시판 제목 div */
 .title_container {
    width: 90%;
    border: 1px solid #e9e9e9;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #e5e5e5;
 }
  
  
 /* 유저 정보 div */
 .user_info_container {
    margin-top: 20px;
    width: 90%;
 }
  
  
 /* 유저 정보 */
 .user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
 }
  
  
 .user_info_li_2 {
    margin-left: 1000px;
 }
  
  
 /* 댓글창 */
 #comment_info {
    margin-top: 50px;
    width: 92%;
    height: 300px;
    margin-left: 45px;
    margin-right: 40px;
 }
  
 .comment_form {
    display: flex;
    flex-direction: column;
 }
  
  
 .post_comment {
    padding-top: 20px;
 }


/* 댓글 삭제 버튼 */
#comment_delete {
   background: none;
   background-color: #EBEBEB;
   border: 1px solid #EBEBEB;
   padding: 3px;
   border-radius: 5px;
}


/* 비밀댓글 체크 버튼 */
#secret_check {
   display: flex;
   justify-content: right;
   padding: 5px;
}

#secret_checkbox {
   margin-right: 5px;
   margin-top: 5px;
}


/* 비밀 표시 부분 */
#secret_index {
   color: #EA6A6B;
   font-weight: 700;
}


 /* 글 수정 버튼 */
 #edit_button {
    background-color: #EBEBEB;
 }