/* nav바에 해당 메뉴 색 변경 */
#menu3{
    color: var(--main-color1); 
}


h1 {
    color: gray;
}


/* 전체 */
.container {
    margin-top: 40px;
 }
  
  
 /* 글쓰기 및 검색창  */
 #posts_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
 }
  
  
 /* 검색창 form */
 .spots-search-button {
    display: flex;
    flex-direction: row;
    height: 37.97px;
    width: 400px;
 }
  
  
 /* 검색창 input */
 #spots-search-b {
    width: 100px;
    margin-left: 3px;
 }


/* 게시판 */
#table_container {
   width: 100%;
}

 
 /* 게시판 윗줄 */
 .posts_head {
    font-weight: 700;
 }


/* 게시판 제목 */
#posts_title {
   width: 600px;
}

  
  
 /* 디테일 페이지 a element */
 #post_detail_a {
    text-decoration: none;
    color: black;
 }
  
  
 #post_detail_a:hover {
    color: gray;
 }
 


 /* paginator div */
 #paginator_container {
    display: flex;
    justify-content: center;   
    margin-top: 30px;
 }



/* paginator 버튼 */
.pagination > li > a {
   background-color: white;
   color: #141414;
}

.pagination > .page-item.active > a {
   background-color: #EA6A6B;
   border: solid 1px #EA6A6B;
}

