{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}

<!-- 에러 메세지 띄우기 -->
<div>
    {% if error %}
    <div class="alert alert-danger mt-3">
        {{ error }}
    </div>
</div>
    {% endif %}



<div>
    <h1>회원가입</h1>
</div>

<!-- 회원가입 정보 받기 -->
<div class="row">
    <form method="POST" action="{% url 'accounts:sign_up' %}" enctype="multipart/form-data">  
        {% csrf_token %}
        
        <div class="mb-2 col-lg-3">
            <label class="form-label" for="username">아이디</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="아이디">
        </div>

        <div class="mb-2 col-lg-3">
            <label class="form-label" for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호">
        </div>

        <div class="mb-2 col-lg-3">
            <label class="form-label" for="password_check">비밀번호 확인</label>
            <input class="form-control" type="password" id="password_check" name="password_check" placeholder="비밀번호 확인">
        </div>

        <div class="mb-2 col-lg-3">
            <label class="form-label" for="email">이메일</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="이메일">
        </div>

        <!-- <div class="mb-2 col-lg-3">
            <label class="form-label" for="age">나이</label>
            <input class="form-control" type="number" id="age" name="age" placeholder="나이">
        </div>

        <div class="mb-2 col-lg-3">
            <p class="mt-3">성별</p>
            <input type="checkbox" id="gender" name="gender" value="남자">
            <label class="form-label" for="gender">남</label>
            <input type="checkbox" id="gender" name="gender" value="여자">
            <label class="form-label" for="gender">여</label>
        </div>

        <div class="mb-2 col-lg-3">
            <label class="form-label" for="image">프로필 사진</label>
            <input class="form-control" type="file" id="image" name="image" placeholder="프로필 사진 업로드">
        </div> -->

        <div class="mb-2">
            <button type="submit">회원가입</button>
        </div>

    </form>
</div>


{% endblock %}