*{
    padding: 0;
    margin: 0;
    font-family: 'KoPubWorldDotum';
    box-sizing: border-box;
    font-weight: 500;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* 기본 분홍 */
    --main-color1: #EA6A6B;
    /* 하트 적용 분홍색 */
    --main-color1-1: #FC6067;


    /* 기본 다크 */
    --main-color2: #141414;
    /* 랜딩페이지용 다크 */
    --main-color2-1: #242424;
    --main-color2-2: #404040;

    /* 모든페이지용 화이트톤 배경 */
    --background-color: #F2F2F2;

    --shade1: #7F7F7F;
    --shade2: #BFBFBF;
    --shade3: #F2F2F2;
    --shade4: #f7f7f7;
 
    /*기본 텍스트 */
    --text-color:  #EBEBEB;
    --text-highlight: white;
    --logo-color:#D2D2D2;

    --highlight-font:'SEBANG_Gothic_Bold';

    --logofont: 'Poppins', sans-serif;
}


.nav-all{
    height: 75px;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color2);
    color: var(--text-color);
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 10;
}


.nav-logo{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:right; 
    margin-left: 20px;
}

#logo{
    height: 40px;
    object-fit: contain;
    margin-right: 10px;

}

#logo-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--logo-color); 
}

.navbar-brand{
    text-decoration-line: none;
    text-decoration: none;
    color: var(--text-color); 
}

.nav-menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.menu-box{
    text-decoration-line: none;
    text-decoration: none;
    color: var(--text-color);
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;   
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.menu-box:hover{
    color: var(--main-color1);   
}



i{
    font-size: 20px;
    padding-bottom: 5px;
}


.nav-login{
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
}

#logout_button {
    background: none;
    border: none;
    color: var(--text-color);
}

#logout_button:hover {
    background: none;
    border: none;
    color: var(--main-color1);  
}

.nav-login-box{
    display: flex;

}
.link{
    text-decoration-line: none;
    text-decoration: none;
    color: var(--text-color);
}

.link:hover{
    color: var(--main-color1);
}

#login_content {
    margin-top: 7px;
    margin-left: 10px;
}