{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'travels/mypage_style.css' %}">
{% endblock %}

{% block content %}
<!-- 프로필 정보 -->
<body id="mypage_container">
    <div class="user_navbar">
        <div class="mypage_header">마이 페이지<span style="color: #ebebeb;"></span></div><br>
            <ul class="user_links">
                <li class="user_info"><span class="user_name">{{ profile.user }}</span></li>
                <li class="user_info"><span class="user_email">{{ profile.email }}</span></li>
            </ul> 
            <ul class="user_icons" style="display: flex; flex-direction: row;">
                <li class="user_link"><a href="#wishlists"><i class="far fa-heart" ></i></a></li>
                <li class="user_link"><a href="#comments"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
            </ul>
            <!-- <ul class="social_icons" style="display: flex; flex-direction: row;">
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
            </ul> -->
    </div>
    <br>
    <!-- 위시리스트 -->
    <div class="mypage_pages">
    <div id="wishlists" class="mypage_page">
        <div class="wishlist_liked"><span class="highlight" style="font-weight: bolder;">LIKED by @{{ profile.user }}</span></div><br>
        <div class="wishlist_spots">
            {% for wishlist in wishlists %}
            <div class="wishlist_box">
                <!-- <div class="wishlist_title"><a href="{% url 'travels:spot' wishlist.id %}" id="wishlist_click">#{{ wishlist.title }}</a></div> -->
                <img src="{{ wishlist.image.url }}" alt="위시리스트 이미지" class="wishlist_image">
                <div class="image_overlay">
                    <div class="image_title"><a href="{% url 'travels:spot' wishlist.id %}" id="wishlist_click">#{{ wishlist.title }}</a></div>
                </div>
            </div>
            <hr>
            {% endfor %}

            {% endblock %}
        </div>
    </div>  
    </div>
