/* nav바에 해당 메뉴 색 변경 */
#menu2 {
  color: var(--main-color1);
}

.map-page {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-like-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1188px;
  padding: 15px;
  position: sticky;
  top: 75px;
  z-index: 11;
  height: 70px;
  background-color: var(--background-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.map-like-filter-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#map-login {
  color: var(--shade1);
  font-weight: 700;
}

#map-login:hover {
  height: 80px;
  color: var(--main-color1);
}

.map-container {
  width: 1188px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#map-filter-button {
  background: none;
  border-radius: 5px;
  background-color: var(--main-color1);
  border: none;
  margin-left: 20px;
}

#map-filter-title {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  color: var(--shade1);
}
#map-filter-title:hover {
  color: var(--main-color1);
}

.map-filter-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#selected {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  color: currentColor;
  accent-color: var(--main-color1);
}

.map-container {
  width: 1188px;
  height: calc(100vh - 145px);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* 용호 */

#card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  background-color: white;
  border-radius: 5%;
}

#card_image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5%;
}

#image_test {
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 5%;
}

#card_title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  height: 37px;
  color: rgb(56, 56, 56);
}
#card-text {
  color: var(--shade1);
  font-size: 18px;
}

#card_info {
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* background-color: var(--text-color); */
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
}

#card_content {
  font-size: 16px;
  text-align: center;
  color: var(--shade1);
  font-weight: 700;
}

#card_info-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 20px;
}

#card_hashtag {
  font-size: 14px;
  color: var(--shade1);
  font-weight: 700;
  text-align: left;
}

#card_region {
  font-size: 16px;
  text-align: right;
  color: var(--shade1);
  font-weight: 700;
}

#card_button {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* a#card_button:hover {
  opacity: 1;
} */

/* a#show_detail {
  display: block;
  text-decoration: none;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  padding: 12px;
  opacity: 0.8;
  margin-bottom: 10px;
  position: relative;
  background-color: #888;
} */

.card_button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -86px;
  margin-left: -89px;
  text-align: center;
}

.spot-like {
  width: 768px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.spot-counts {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.spot-count {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

#like_heart {
  font-size: 25px;
  border: none;
  background-color: #e5e2e2;
  margin: 0px;
  padding: 0px;
}

#spotlike1 {
  font-size: 25px;
  color: var(--main-color1-1);
}

#spotlike2 {
  font-size: 100px;
  font-size: 25px;
  color: white;
}
