{% extends 'base.html' %}
{% load static %}
 
 
 
{% block style %}
<link rel="stylesheet" href="{% static 'posts/posts_style.css' %}">
{% endblock %}
 
 
 
{% block content %}
 

<div class="container">
   <div class="col-lg-12 col-md-12" id="posts_header">
       <!-- 글쓰기 버튼 -->
       <button type="button" class="btn" onclick=location.href="{% url 'posts:create' %}" style="background-color: #EBEBEB;">글쓰기</button>
       <!-- 검색창 -->
       <div>
           <form class="spots-search-button" method="GET" action="">
               <input class="form-control" type="search" name="query" placeholder="{{ q }}">
               <button id="spots-search-b" class="btn" type="submit" style="background-color: #EBEBEB;"><p>검색하기</p></button>
           </form>
       </div>
   </div>
 
   <!-- 게시판 -->
   <table class="table">   
       <thead>
           <tr>
               <th class="posts_title" scope="col">#</th>
               <th class="posts_title" scope="col">제목</th>
               <th class="posts_title" scope="col"><i class="fas fa-map-marker-alt"></i></th>
               <th class="posts_title" scope="col"><i class="fas fa-user"></i></th>
               <th class="posts_title" scope="col">Due</th>   
           </tr>
       </thead>
 
       <tbody>
        {% for post in posts %}
           <tr>   
               <td></td>
               <td><a id="post_detail_a" href="{% url 'posts:detail' post.id %}">{{ post.title }} 
                {% if post.post_comments %}   
                    ({{ post.post_comments.count }})
                {% else %}
                <p>dd</p>    
                {% endif %}
                </a></td>
               <td>{{ post.location }}</td>
               <td>{{ post.user }}</td>
               <td>{{ post.due|date:'Y-m-d' }}</td>  
           </tr> 
        {% endfor %}   
       </tbody>
   </table>
</div>

 
{% endblock %}
