{% extends 'base.html' %}
{% load post_filter %}
{% load static %}
 
 
 
{% block style %}
<link rel="stylesheet" href="{% static 'posts_style.css' %}">
{% endblock %}
 
 
 
{% block content %}
<div class="posts-page">
    <div class="posts-top-bar">
        <div>
            <!-- 글쓰기 버튼 -->
            <button type="button" id="posts-b2" class="btn btn-secondary" onclick=location.href="{% url 'posts:create' %}">글쓰기</button>
            <!-- 검색창 -->
        </div>
        <div>
                <form class="posts-button" method="GET" action="">
                    <input class="form-control" type="search" name="query" placeholder="{{ q }}">
                    <button id="posts-b1" class="btn btn-secondary" type="submit" ><p>검색하기</p></button>
                </form>
        </div>
    </div>

    <!-- 게시판 -->
    <div class="posts_text1">함께 <span class="posts_text2">스팟온!</span>할 친구를 찾아보세요.</div>

    <div class="posts_list">
        <table class="table" id="table_container">   
            <thead>
                <tr>
                    <th class="posts_head" scope="col">#</th>
                    <th class="posts_head" id="posts_title" scope="col">제목</th>
                    <!-- <th class="posts_head" scope="col"><i class="fas fa-map-marker-alt"></i></th> -->
                    <th class="posts_head" scope="col"><i class="fas fa-user"></i></th>
                    <th class="posts_head" scope="col">작성일</th>
                    <!-- <th class="posts_head" scope="col">Due</th>    -->
                </tr>
            </thead>
        
            <tbody>
                {% if not q %}
                    {% for post in posts_page %}
                    <tr>
                        <td>{{ posts_page.paginator.count|sub:posts_page.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td><a id="post_detail_a" href="{% url 'posts:detail' post.id %}">{{ post.title }} 
                            {% if post.post_comments.count %}   
                                ({{ post.post_comments.count }})    
                            {% endif %}
                            </a></td>
                        <!-- <td>{{ post.location }}</td> -->
                        <td>{{ post.user }}</td>
                        <td>{{ post.created_at|date:'Y-m-d' }}</td>
                        <!-- <td>{{ post.due|date:'Y-m-d' }}</td>   -->
                    </tr> 
                    {% endfor %}  
                {% else %}
                    {% for post in posts_page %}
                    <tr>
                        <td></td>
                        <td><a id="post_detail_a" href="{% url 'posts:detail' post.id %}">{{ post.title }} 
                            {% if post.post_comments.count %}   
                                ({{ post.post_comments.count }})    
                            {% endif %}
                            </a></td>
                        <!-- <td>{{ post.location }}</td> -->
                        <td>{{ post.user }}</td>
                        <td>{{ post.created_at|date:'Y-m-d' }}</td>
                        <!-- <td>{{ post.due|date:'Y-m-d' }}</td>   -->
                    </tr> 
                    {% endfor %}
                {% endif %}      
            </tbody>
        </table>


    <!-- 페이지네이터 코드 -->
        <div>
            <nav aria-label="Page navigation example" id="paginator_container">
                <ul class="pagination">
                <!-- 이전 페이지 버튼 -->    
                    {% if posts_page.has_previous %}    
                    <li class="page-item"><a class="page-link" href="?page={{ posts_page.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}
                
                <!-- 페이지 숫자 나타내기 -->    
                    {% for i in page_range %}
                    {% if i == posts_page.number %}  
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                
                <!-- 다음 페이지 버튼 -->    
                    {% if posts_page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts_page.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ posts_page.paginator.num_pages }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>



</div>
{% endblock %}
